{{#if isSecondary}}
    <nav class="site-footer-nav">
        {{#foreach navigation}}
            <a class="nav-{{slug}}" href="{{url absolute="true"}}">{{label}}</a>
        {{/foreach}}
    </ul>
{{else}}
    <ul class="nav" role="menu">
        {{#foreach navigation}}
            <li class="{{link_class for=(url) class=(concat "nav-" slug)}}" role="menuitem">
                <a href="{{url absolute="true"}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
{{/if}}