{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

{{!-- styles for this page only --}}
<style>

    .committee-overlay-content {
        max-height:80%;
        overflow-y: auto;
    }

    .committee-overlay-short-description {
        font-size: 2rem;
    }

    .committee-overlay-long-description {
        font-size:14px;
    }

    .committee-overlay-name {
        margin-bottom: 30px;
    }

    .committee-overlay-short-description {
        margin-bottom: 20px;
    }

    @media (min-width:600px) {
        .committee-overlay-content {
            /* Never get larger than this */
            font-size: 20px;
        }

        .committee-overlay-long-description {
            /* Never get larger than this */
            font-size: 20px;
        }

        .committee-overlay-short-description {
            font-size: 3rem;
        }
    }

    @media (max-width:600px) {
        .committee-overlay-role {
            font-size: 4rem;
        }
        .committee-overlay-name {
            font-size: 4rem;
        }
    }
    
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(255, 255, 255, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    .flexyrow {
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px;
    }

    /* Create four equal columns that sits next to each other */
    .flexycolumn {
      flex: 25%;
      max-width: 25%;
      padding: 0 20px;
    }

    .flexycolumn img {
      margin-top: 8px;
      vertical-align: middle;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 550px) {
      .flexycolumn {
        flex: 50%;
        max-width: 50%;
      }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 300px) {
      .flexycolumn {
        flex: 100%;
        max-width: 100%;
      }
    }

    .profile-card {
        flex: 1 1 300px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: 0 20px 40px;
        background: #fff center center;
        background-size: cover;
        border-radius: 5px;
        box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
        transition: all 0.5s ease;
    }

    .profile-card:hover {
        box-shadow: rgba(39,44,49,0.07) 8px 28px 50px, rgba(39, 44, 49, 0.04) 1px 6px 12px;
        transition: all 0.4s ease;
        transform: translate3D(0, -1px, 0) scale(1.02);
    }

    /* Adjust some margins for smaller screens */
    @media (max-width: 650px) {
        .profile-card {
            margin: 0 20px 5vw;
        }
    }


</style>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <header class="post-full-header">
                <h1 class="post-full-title">{{title}}</h1>
            </header>

            {{#if feature_image}}
            <figure class="post-full-image">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 800px) 400px,
                            (max-width: 1170px) 700px,
                            1400px"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{title}}"
                />
            </figure>
            {{/if}}

            
            {{!-- stuff for the custom image grid - made by Tom Moses --}}
            <div style="margin-left: -30px">
                <div class="flexyrow"> 
                    <div class="flexycolumn">
                        <a href="#pres"><img class="profile-card" src="https://i.ibb.co/tsB6kc7/Alex.jpg"></a>
                        <a href="#gear1"><img class="profile-card" src="https://i.ibb.co/wdXbnzz/Sophie.jpg"></a>
                        <a href="#gear2"><img class="profile-card" src="https://i.ibb.co/mNVr2nv/Dan.jpg"></a>
                    </div>
                    <div class="flexycolumn">
                        <a href="#vp"><img class="profile-card" src="https://i.ibb.co/YcrJCxC/Nick.jpg"></a>
                        <a href="#team1"><img class="profile-card" src="https://i.ibb.co/12DsD6x/JoeC.jpg"></a>
                        <a href="#team2"><img class="profile-card" src="https://i.ibb.co/k5kcRZm/23275379-10212857821814346-6261225717714463101-o.jpg"></a>
                    </div> 
                    <div class="flexycolumn">
                        <a href="#secretary"><img class="profile-card" src="https://i.ibb.co/cL6QLxj/JoeR.jpg"></a>
                        <a href="#social1"><img class="profile-card" src="https://i.ibb.co/TtwDz8H/JohnH.jpg"></a>
                        <a href="#social2"><img class="profile-card" src="https://i.ibb.co/bg3dYXB/HoweCrop.jpg"></a>
                    </div>
                    <div class="flexycolumn">
                        <a href="#treasurer"><img class="profile-card" src="https://i.ibb.co/Ph7287d/Alice.jpg"></a>
                        <a href="#mountain"><img class="profile-card" src="https://i.ibb.co/D8jNhmL/Jerome.jpg"></a>
                        <a href="#media"><img class="profile-card" src="https://i.ibb.co/r5Vrg3b/eve.jpg"></a>
                    </div>
                </div>
            </div>
            {{!-- end of stuff for custom grid --}}

        </article>

    </div>
</main>

{{/post}}


{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
$(function() {
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
});
</script>

<div id="pres" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">President:</h1>
        <br><h2 class="subscribe-overlay-title committee-overlay-name">Alex Dickinson-Lomas</h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            Alex - known solely to other climbers as 'ADL' - is our new president overseeing smooth running of the club this year.
        </p>
        <p class="subscribe-overlay-description committee-overlay-long-description">
            With as much psyche for any activity as 27 puppies all in one person, ADL will make sure that the club is running off pure excitement for the unpleasant by Christmas. There are only two things on this planet that can bring her back down to earth; either a single breadcrumb or a Ceilidh dancing partner.
            <br>
            <br>
            After spending the summer in the Alps last year DL caught the 'European alpine bug', which is what is responsible for her often eye-wateringly bright choice of clothing. However, there are also rumours she learnt a few things about mountaineering while she was over there, as well as being a strong slab climber. Now that she has two working feet (the result a series of non-climbing incidents), ADL is also building up momentum in her campaign using her new-found power to turn the club into a bunch of fell runners.
            <br>
            <br>
            Short on psyche? Or simply want to hear about the many stories already accumulated from her time in the club that couldn't be included here? Then contact ADL: <a href="mailto: president@ubmc.co.uk">president@ubmc.co.uk</a>
        </p>
    </div>
</div>

<div id="vp" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">Vice President: </h1>
        <br><h2 class="subscribe-overlay-title committee-overlay-name">Nick Hill</h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            The club is in safe hands, despite the President, with Nick Hill pulling the strings.
        </p>
        <p class="subscribe-overlay-description committee-overlay-long-description">
            Having spent a year working in the real world solving important engineering problems Nick is perfectly suited to making sure things run smoothly in the world of UBMC. As the clubs very own "Mod Dogger" (It's a technical climbing term, we promise!) he is ideally positioned to take on the mantle of "safety sec"...who better to see the importance of appropriate gear placement, communication and ropework on the hill than someone who's own coordination skills are conspiring against him daily. Nick has risen to the dizzying heights of VP from the position of gear sec two years ago so has an in depth knowledge of the club. And it's nuts. 
            <br>
            <br>
            Need some advice on best safety practice at the crag or just want to tease him about falling off easy routes?
            <br>
            <br>
            Contact Daddy Nicholas: <a href="mailto: vp@ubmc.co.uk">vp@ubmc.co.uk</a>
        </p>
    </div>
</div>

<div id="secretary" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">Secretary:</h1>
        <br>
        <h2 class="subscribe-overlay-title committee-overlay-name">
            Joe Ramsay
        </h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            Big hair, big psych, big mountaineering fan...the club secretary this year is the one and only Joe Ramsay.
        </p>
        
        <p class="subscribe-overlay-description committee-overlay-long-description">
            An avid trad climber and mountaineer, the only things Joe loves more than climbing is climbing related admin! That last bit may not be true but having spent the last year doing a "real job", planning an expedition to the high mountains of Kyrgyzstan, and of course being UBMC Web Sec in 2016 Joe is well equipped in the powers of organisation and efficiency for his role as secretary.
            <br>
            <br>
            An enthusiast of gnarly trad routes involving dirty cracks and gnarly nights out involving womens clothes, Joe is sure to provide comedy and encouragement at any crag/venue the club frequents.
            <br>
            <br>
            Need help with membership or just fancy discussing the virtues of the hand jam vs finger lock? Contact Joe: <a href="mailto: secretary@ubmc.co.uk">secretary@ubmc.co.uk</a>
        </p>
    </div>
</div>

<div id="treasurer" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">Treasurer:</h1>
        <br>
        <h2 class="subscribe-overlay-title committee-overlay-name">
            Alice Purdy
        </h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            Alice Purdy is our equivalent of Smaug this year, ferociously guarding the club's hoard of gold!
        </p>
        <p class="subscribe-overlay-description committee-overlay-long-description">
            New to climbing last year she has quickly learnt the ropes and is an ever chirpy addition to this years committee. As a physics student she can be relied upon to competently handle those figures and organises UBMC's funds to see us safely through the year. Having won the election for treasurer based on a love of spreadsheets and sweets you can be sure Alice will provide UBMC with the funds and fuel required to send hard this year.
            <br>
            <br>
            Can't tell if it's icing sugar or chalk? Contact Alice: <a href="mailto: treasurer@ubmc.co.uk">treasurer@ubmc.co.uk</a>
        </p>
    </div>
</div>

<div id="mountain" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">Mountain Sec:</h1>
        <br><h2 class="subscribe-overlay-title committee-overlay-name">
            Jerome Lloyd
        </h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            This year the majestic title of Mountain Sec has found its place on the head of Jerome Lloyd. 
        </p>
        <p class="subscribe-overlay-description committee-overlay-long-description">
            Never happier than when attached to various pointy climbing implements, Jerome is your man for a day out on the hill be it in rain or shine, sleet or snow, scrambling or mixed climbing!
            <br>
            <br>
            Jerome truly embraces the outdoor lifestyle; it's rumoured he didn't wash for the whole of last summer and this year in Pembroke he ventured out under the stars, forsaking a warm and comfortable tent for a sandy bivvy. After an adventure to the alps this year watch out for Jerome and his tales of snow, glaciers and no showers.
            <br>
            <br>
            Got any questions about the Scotland trip or just fancy discussing all things alpinism? Contact Jerome: <a href="mailto: mountain@ubmc.co.uk">mountain@ubmc.co.uk</a>
        </p>
    </div>
</div>

<div id="gear1" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">Gear Sec:</h1>
        <br><h2 class="subscribe-overlay-title committee-overlay-name">
            Sophie Wilson
        </h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            One half of our lean, mean, gear secretary team is Sophie "Helicopter" Wilson.
        </p>
        <p class="subscribe-overlay-description committee-overlay-long-description">
            Sophie is a strong and bold climber and can be found spending her days wistfully eyeing up gnarly trad lines and counting her nuts. She would probably claim some sort of spiritual attachment to all thing climbing gear related which puts her in a good position for holding half of the responsibility for the club's gear collection! An adventurous soul, Sophie never passes up an opportunity to get helicoptered out of a situation and is always keen for a grand day out.
            <br>
            <br>
            Sophie and Dan have the exciting task of keeping tabs on all the club equipment this year. As confirmed on summer trip, they're both very protective of the club gear and love nothing more than lending it out and having it returned in one piece. Make sure to return things in good time and complete and you'll be in their good books!
            <br>
            <br>
            To request gear or for tips on nut polishing, contact Sophie and Dan: <a href="mailto: gear@ubmc.co.uk">gear@ubmc.co.uk</a>
        </p>
    </div>
</div>

<div id="gear2" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">Gear Sec:</h1>
        <br><h2 class="subscribe-overlay-title committee-overlay-name">
            Dan Pearce
        </h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            Our other marvellous gear sec this year is the lovely Dan Pearce.
        </p>
        <p class="subscribe-overlay-description committee-overlay-long-description">
            Though relatively new to the club Dan has picked things up quickly and is happiest crushing tricky trad routes out on the gristone in the Peak. As a Geography student he has plenty of time (when not colouring in) to devote to keeping the extensive gear log in check and to lovingly caress the club axes.
            <br>
            <br>
            Dan is a gentle and cheerful guy but woe betide anyone who mislays a nut, a hex, or heaven forbid...an ice axe...legend has it he turns into a terrifying beast who will hunt a stoat to the ends of the earth to keep UBMC's gear cupboard inventory intact!
            <br>
            <br>
            Sophie and Dan have the exciting task of keeping tabs on all the club equipment this year. As confirmed on summer trip, they're both very protective of the club gear and love nothing more than lending it out and having it returned in one piece. Make sure to return things in good time and complete and you'll be in their good books!
            <br>
            <br>
            To request gear or for tips on nut polishing, contact Sophie and Dan: <a href="mailto: gear@ubmc.co.uk">gear@ubmc.co.uk</a>
        </p>
    </div>
</div>

<div id="team1" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">Team Sec:</h1>
        <br><h2 class="subscribe-overlay-title committee-overlay-name">
            Joe Crolla
        </h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            Our first team sec this year is Joe Crolla.
        </p>
        <p class="subscribe-overlay-description committee-overlay-long-description">
            His legendary ability to crush hard boulders and sport routes and obsession with training put him in the prime position to co-captain our competitive bouldering team this year. His dedication to encouraging improvement doesn't stop at the team, if you want tips on training or a bit of motivation Joe is your guy. On the other hand you may have to offer Joe encouragement and support as he makes the tricky step into becoming a trad climber!
            <br>
            <br>
            P.s. He couldn't find any clothes in the hammock.
        </p>
    </div>
</div>

<div id="team2" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">Team Sec:</h1>
        <br><h2 class="subscribe-overlay-title committee-overlay-name">
            Cecilia Hallpike
        </h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            Strong stable and nothing like our prime minister Cecilia is our other team sec this year.
        </p>
        <p class="subscribe-overlay-description committee-overlay-long-description">
            An extremely skilled climber and experienced climbing coach already Cecilia is the perfect fit for team sec. She can often be found flying up routes with style and panache at the Depot and is a brilliant source of bouldering and sport climbing technique tips!
            <br>
            <br>
            Cecilia isn't just a competitive climber though and has been known to attend socials painted head to toe in blue daba dee...
            <br>
            <br>
            Cecilia and Joe will be managing our bouldering team this year and leading them valiantly into battle with other uni teams at BUCS and LUBE! They are responsible for overseeing all aspects of the team's performance, the team's training and friendly comps for everyone to take part in. Contact Joe and Cecilia about all things "team"! - <a href="mailto: indoor@ubmc.co.uk">indoor@ubmc.co.uk</a>
        </p>
    </div>
</div>

<div id="social1" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">Social Sec:</h1>
        <br><h2 class="subscribe-overlay-title committee-overlay-name">
            John Harrison
        </h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            The legendary John Harrison is, in his own words, extremely old.
        </p>
        <p class="subscribe-overlay-description committee-overlay-long-description">
            A veteran of UBMC John was once a Gear Sec. Back in the mists of time John proved himself extremely organisationally competent, a keen climber and of course an absolute master of the scatty night out. Now returning to take on the mantle of social sec John has promised to bring UBMC socials back to the people of UBMC. With his first year PhD life and solid time management John will make sure socials are planned to perfection alongside his partner in crime...
            <br>
            <br>
            Our social team are on hand to make sure that UBMC stays a socially competent bunch and to prevent us all becoming boring.
            <br>
            <br>
            If you've got any amazing ideas for socials or fancy dress themes or want to ask John about the olden days get in touch at: <a href="mailto: social@ubmc.co.uk">social@ubmc.co.uk</a>
        </p>
    </div>
</div>

<div id="social2" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">Social Sec:</h1>
        <br><h2 class="subscribe-overlay-title committee-overlay-name">
            Alex Howe
        </h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            This ain't his first rodeo kids...
        </p>
        <p class="subscribe-overlay-description committee-overlay-long-description">
            Alex has served his time on the UBMC committee previously as social sec 2017-18. He has promised a range of exciting social themes from yoga to salsa and is always happy to be that bad influence you need on a night out to snobs. Alex is notorious for fraternising with other societies but uses this to the advantage of UBMC by setting up all sorts of joint events...what could be next?!
            <br>
            <br>
            Our social team are on hand to make sure that UBMC stays a socially competent bunch and to prevent us all becoming boring.
            <br>
            <br>
            If you've got any amazing ideas for socials or fancy dress themes or want to ask John about the olden days get in touch at: <a href="mailto: social@ubmc.co.uk">social@ubmc.co.uk</a>
        </p>
    </div>
</div>

<div id="media" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content committee-overlay-content">
            <img class="subscribe-overlay-logo" src="/content/images/2019/03/UBMC-logo-3-WHITE.png" alt="UBMC">
        <h1 class="subscribe-overlay-title committee-overlay-role">Media Sec:</h1>
        <br><h2 class="subscribe-overlay-title committee-overlay-name">
            Eve Shalom
        </h2>
        <p class="subscribe-overlay-description committee-overlay-short-description">
            Quite frankly UBMC are set for their media secretary this year. Practically a walking meme, instagram star and general technology whiz, Eve is off to a flying start!
        </p>
        <p class="subscribe-overlay-description committee-overlay-long-description">
            Eve has climbed with the club for a number of years and has taken her new responsibility very seriously. Papping various members of UBMC relentlessly throughout our summer trip to Pembroke and even teaching our VP some slang (Yaaaas Eve)  we can be sure out social media will be "lit" this year and the UBMC will truly be "down with the kids".
            <br>
            <br>
            As a final year physicist she also has time management down to a fine art and has lovingly curated the UBMC website and new up to date calendar of events!
            <br>
            <br>
            If you've got any great pictures from club trips or want to be featured on the club instagram, contact Eve: <a href="mailto: website@ubmc.co.uk">website@ubmc.co.uk</a>
        </p>
    </div>
</div>
{{/contentFor}}
